<div class="container justify-content-center mt-3">
    <h3>Actualizar información</h3>
    <form class="row g-3 mt-3 mx-auto">
        <div class="col-md-6">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" required>
        </div>
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" required>
        </div>
        <div class="col-md-6">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputCorreo" required>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" required>
        </div>
        <div class="col-4">
            <label for="inputCalle" class="form-label">Calle</label>
            <input type="text" class="form-control" id="inputCalle" required>
        </div>
        <div class="col-4">
            <label for="inputDireccion" class="form-label">Colonia</label>
            <input type="text" class="form-control" id="inputColonia" required>
        </div>
        <div class="col-2">
            <label for="inputExterior" class="form-label">No. Exterior</label>
            <input type="text" class="form-control" id="inputExterior" required>
        </div>
        <div class="col-2">
            <label for="inputInterior" class="form-label">No. Interior</label>
            <input type="text" class="form-control" id="inputInterior">
        </div>

        <div class="col-3">
            <label for="inputCP" class="form-label">C.P</label>
            <input type="text" class="form-control" id="inputCP" required>
        </div>
        <div class="col-3">
            <label for="inputCiudad" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="inputCiudad" required>
        </div>
        <div class="col-3">
            <label for="inputEstado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputEstado" required>
        </div>
        <div class="col-3">
            <label for="inputPaís" class="form-label">País</label>
            <input type="text" class="form-control" id="inputPaís" required>
        </div>

        <div class="col-12 mx-auto">
            <button type="button" class="btn-cancelar">Cancelar</button>
            <button type="button" class="btn-actualizar">Continuar</button>
        </div>
    </form>
</div>