footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #393E46;
  color:white;
  // position: absolute;
  bottom: 0;
  // width: 100%;
}

.logout{
  box-shadow: none;
  text-decoration: none;
  color: white;
}

.logout:hover{
  color: #FCDA05;
}
