ul{
    list-style-type: none;
    padding: 0;
}

.table{
    padding: 0 20px;
}

.row-right{
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
}

.row-left{
    display: flex;
    float: left;
    align-items: center;
}

.table-row{
    height: 200px;
}

.clear{
    clear: both;
}

.img img{
    height: 200px;
}

.img{
    height: 200px;
}

.delete img{
    height: 50px;
}

.name{
    width: auto;
    flex-grow: 1;
}

.price, .stock, .total, .delete{
    padding: 0 25px;
}

.price, .stock, .total{
    width: 60px;
}

.delete{
    width: 50px;
}

#header2{
    width: 430px;
}

#header1{
    padding-left: 200px;
}