<div class="cart">
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="70"
      height="70" viewBox="0 0 24 24" stroke-width="2" stroke="#393d46" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="6" cy="19" r="2"></circle>
      <circle cx="17" cy="19" r="2"></circle>
      <path d="M17 17h-11v-14h-2"></path>
      <path d="M6 5l14 1l-1 7h-13"></path>
    </svg>
  </p>
</div>

<div class="container">
  <table>
    <thead class="headers">
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </thead>

    <tbody *ngFor="let product of products">
        <tr *ngIf="product.active == true" class="text">
          <td>{{product.product.name}}</td>
          <td>${{product.product.price}}</td>
          <td>
            <button *ngIf="product.quantity < product.product.stock" (click)="updateQuantityProductsPlus(product.id, product)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="#222831" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
            </button>
            <a>
              {{product.quantity}}
            </a>
            <button *ngIf="product.quantity > 0" (click)="updateQuantityProductsMinus(product.id, product)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="#222831" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
            </button>
          </td>
          <td>${{product.amount}}</td>
        </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="row-right">
        <h3>Total: $</h3>
        <p>{{total}}</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="button-container">
  <button *ngIf="total != 0" type="button" class="buy-now" (click)="buy()">Comprar</button>
</div>
