<h1>Detalles pedido</h1>
<div class="table">
    <div class="row">
        <div class="col">
            <h3>Num. Pedido</h3>
            <p>123456</p>
        </div>
        <div class="col">
            <h3>Fecha</h3>
            <p>10/10/2022</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Num. de Productos</h3>
            <p>5</p>
        </div>
        <div class="col">
            <h3>Total</h3>
            <p>100000</p>
        </div>
    </div>
</div>