<div>
    <div>
        <div>
            <p>realizar pedido</p>
        </div>
        <div>
            <div>
                <p>num pedido</p>
            </div>
            <div>
                <input type="text">
            </div>
        </div>
    </div>
    <div>
        <div>
            <p>id</p>
            <p>producto</p>
            <p>cantidad</p>
            <p>precio</p>
        </div>
        <div *ngFor="let o of productos">
            <p>{{o.id}}</p>
            <p>{{o.name}}</p>
            <p>1</p>
            <p>{{o.price}}</p>
        </div>
    </div>
    <div>
        <p>informacion pago</p>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <div>
            <p>numero de tarjeta</p>
        </div>
        <div>
            <input type="text">
        </div>
        <div>
            <p>caducidad</p>
        </div>
        <div>
            <input type="month">
            <input type="number" name="" id="">
        </div>
        <div>
            <p>cvv</p>
        </div>
        <div>
            <input type="text">
        </div>
    </div>
</div>