<div class="ocultar-telfono">
  <table>
    <thead class="headers">
      <th>Número de orden</th>
      <th>Total</th>
      <th>Estatus</th>
    </thead>

    <tbody *ngFor="let order of orders">
        <tr>
          <td>{{order.order_number}}</td>
          <td>${{order.total_price}}</td>
          <td>{{order.status}}</td>
        </tr>
    </tbody>
  </table>
</div>

<!--Diseño para tablet-->
<div class="ocultar-tablet">
  <table>
    <thead class="headers">
      <th>Número de orden</th>
      <th>Id del producto</th>
      <th>Id del usuario</th>
      <th>Total</th>
      <th>Estatus</th>
    </thead>

    <tbody *ngFor="let order of orders">
        <tr>
          <td>{{order.order_number}}</td>
          <td>{{order.product_id}}</td>
          <td>{{order.user_id}}</td>
          <td>{{order.total_price}}</td>
          <td>{{order.status}}</td>
        </tr>
    </tbody>
  </table>
</div>

<!--Diseño para computadoras-->
<div class="ocultar-desktop">
  <table>
    <thead class="headers">
      <th>Número de orden</th>
      <th>Id del producto</th>
      <th>Id del usuario</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Estatus</th>
    </thead>

    <tbody *ngFor="let order of orders">
        <tr>
          <td>{{order.order_number}}</td>
          <td>{{order.product_id}}</td>
          <td>{{order.user_id}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.total_price}}</td>
          <td>{{order.status}}</td>
        </tr>
    </tbody>
  </table>
</div>
