<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.html">
    <title> </title>

</head>

<body>
    <header>

    </header>
    <main>
        <form class="form">
            <div id="Encabezado" align="center">
              <br>
                <h1>¡BIENVENIDO ADMINISTRADOR!</h1><br>
                <h2>TIENDA EN LINEA</h2>
                <br><br>
                <img src="assets/img/logo.png" alt="" >
                <br><br>
            </div>
        </form>
    </main>


</body>

<footer class="footer">
  <p> © 2022. Instituto Tecnologico de León</p>
</footer>

</html>
