<!-- Registrar la nueva categoria -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="category.component.scss">
</head>

<body>
  <main>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
      <div id="Encabezado">
        <h1>Categoria</h1>
        <br><br>
      </div>

      <div class="form_container">
        <input class="form_input" placeholder="NOMBRE" formControlName="name" type="text" required>
      </div>

      <div class="messages" [class.active]="nameField!.touched && nameField!.invalid">
        <p>
          <strong *ngIf="nameField!.touched && nameField!.hasError('required')">Este campo es requerido</strong>
        </p>
      </div>

      <br><br>

      <div class="form_container">
        <button type="submit" class="form_cta">
          <span *ngIf="!category_id">Crear categoría</span>
          <span *ngIf="category_id">Editar categoría</span>
        </button>
      </div>
    </form>
  </main>
</body>
